.rocketWrapper {
  perspective: 5000px;
}

.rocket {
  $rocket-width: 180;
  $rocket-height: 316;
  $line-thickness: 2;

  $aspect-ratio: ($rocket-width, $rocket-height);

  $color-1: #191919;
  $color-2: white;
  $color-3: #1a1818;

  width: $rocket-width * 1px;
  height: $rocket-height * 1px;
  background-color: pink;
  perspective: 1000px;
  display: flex;
  justify-content: center;

  & .rocketBody {
    $rocket-body-height: 0.75 * $rocket-height;
    $rocket-inner-body-width: 0.64 * $rocket-width;
    $rocket-top-dimension: 0.35 * $rocket-body-height;
    $rocket-main-body-height: $rocket-body-height - $rocket-top-dimension;
    $rocket-base-width: $rocket-top-dimension * 0.55;

    transform-style: preserve-3d;
    width: $rocket-inner-body-width * 1px;
    height: $rocket-body-height * 1px;
    position: relative;
    transform: rotateY(35deg);
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & * {
      transform-style: preserve-3d;
    }

    & .rocketTop {
      $dimension: $rocket-top-dimension;
      $casted-dimension: $dimension * 1px;

      $rocket-top-depth: $dimension;
      $rocket-top-height: $dimension;
      $rocket-top-width: $dimension;

      $half-depth: math.div($dimension, 2) * 1px;

      height: $casted-dimension;
      width: $casted-dimension;
      position: relative;

      & > * {
        position: absolute;
        width: $casted-dimension;
        height: $casted-dimension;
      }

      .left,
      .right {
        .face {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX(-$rotation-x);
        }
      }

      .front {
        .face {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX($rotation-x);
        }
      }

      .back {
        .face {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX(-$rotation-x);
        }
      }

      .left,
      .right,
      .front,
      .back {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .face {
          position: absolute;
          transform-origin: bottom;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;

          & > * {
            position: absolute;
          }

          .innerLayer1 {
            border-left: ($dimension / 2) * 1px solid transparent;
            border-right: ($dimension / 2) * 1px solid transparent;
            border-bottom: $dimension solid $color-2;
          }

          .innerLayer2 {
            border-left: (($dimension - $line-thickness) / 2) * 1px solid
              transparent;
            border-right: (($dimension - $line-thickness) / 2) * 1px solid
              transparent;
            border-bottom: ($dimension - $line-thickness) solid #303030;
          }

          .strip {
            $stripHeight: 0.2 * $dimension;

            display: flex;
            align-items: center;
            justify-content: center;
            height: $stripHeight * 1px;
            width: 100%;
            bottom: 0;

            .innerLayer1 {
              position: absolute;
              height: 100%;
              width: 100%;
              border-left: ($stripHeight / 2) * 1px solid transparent;
              border-right: ($stripHeight / 2) * 1px solid transparent;
              border-bottom: $stripHeight solid $color-2;
            }

            .innerLayer2 {
              position: absolute;
              height: 100%;
              width: calc(100% - ($line-thickness * 1px));
              bottom: $line-thickness / 2 * 1px;
              border-left: (($stripHeight - $line-thickness)/ 2) * 1px solid
                transparent;
              border-right: (($stripHeight - $line-thickness) / 2) * 1px solid
                transparent;
              border-bottom: ($stripHeight - $line-thickness) solid $color-1;
            }
          }
        }
      }

      .front {
        transform: translateZ(0);
      }

      .back {
        transform: translateZ(-$dimension);
      }

      .right {
        transform-origin: right;
        transform: rotateY(-90deg) translateZ(0);
        right: 0;
      }

      .left {
        transform-origin: left;
        transform: rotateY(90deg) translateZ(0);
        left: 0;
      }
    }

    & .mainBody {
      position: relative;
      height: $rocket-main-body-height * 1px;
      width: $rocket-top-dimension * 1px;
      $inverted-triangle-angle: math.atan(
        (2 * $rocket-main-body-height) /
          ($rocket-top-dimension - $rocket-base-width)
      );
      $projection-height: ($rocket-base-width / 2) *
        math.tan($inverted-triangle-angle);
      $projected-height: $projection-height + $rocket-main-body-height;
      $body-face-tilt: math.atan(
        ($rocket-top-dimension * 0.5) / $projected-height
      );

      & > * {
        position: absolute;
      }

      & > .left,
      & > .right,
      & > .front,
      & > .back {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

        .face {
          position: absolute;
          transform-origin: top;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          overflow: hidden;

          & > * {
            position: absolute;
            top: 0;
          }

          .innerLayer1 {
            border-left: ($rocket-top-dimension / 2) * 1px solid transparent;
            border-right: ($rocket-top-dimension / 2) * 1px solid transparent;
            border-top: $projected-height * 1px solid $color-2;
          }

          .innerLayer2 {
            border-left: (($rocket-top-dimension - ($line-thickness * 0.7)) / 2) *
              1px solid transparent;
            border-right: (
                ($rocket-top-dimension - ($line-thickness * 0.7)) / 2
              ) * 1px solid transparent;
            border-top: $projected-height solid $color-3;
          }
        }
      }

      & > .back {
        transform-origin: top;
        transform: translateZ(-$rocket-top-dimension);
        .face {
          transform-origin: top;
          transform: rotateX($body-face-tilt);
        }
      }

      & > .front {
        transform: translateZ(0);
        .face {
          transform-origin: top;
          transform: rotateX(-$body-face-tilt);
        }
      }

      & > .left {
        transform-origin: left;
        transform: translateZ(0) rotateY(90deg);
        .face {
          transform-origin: top;
          transform: rotateX($body-face-tilt);
        }
      }

      & > .right {
        transform-origin: right;
        transform: translateZ(0) rotateY(-90deg);
        .face {
          transform-origin: top;
          transform: rotateX($body-face-tilt);
        }
      }
      .wing {
        $wing-height: $rocket-main-body-height * 0.5;
        $wing-top-offset: 0.6 * $rocket-main-body-height;
        $wing-width: $rocket-top-dimension * 0.8;
        $wing-root-width: $rocket-base-width;
        $wing-upper-height: 0.6 * $wing-height;
        $wing-projection-width: $wing-width * 1.5;
        $wing-projected-width: $wing-width + $wing-projection-width;
        $wing-body-offset: $wing-top-offset *
          math.tan(90 - $inverted-triangle-angle);
        $squared-wing-z-delta: ($rocket-top-dimension - $wing-upper-height) / 2;
        $wing-upper-face-angle: math.atan(
          ($wing-root-width * 0.5) / $wing-projected-width
        );

        width: $wing-width * 1px;
        height: $wing-height * 1px;
        position: absolute;
        top: $wing-top-offset * 1px;

        .upper {
          width: 100%;
          height: $wing-upper-height * 1px;
          position: relative;
          > * {
            position: absolute;
            width: 100%;
            height: 100%;

            .face {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              bottom: 0;
              top: 0;
              left: 0;
              right: 0;
              overflow: hidden;
              & > * {
                position: absolute;
              }
            }
          }
        }

        &.leftWing {
          background-color: rgba(0, 128, 0, 0.2);
          left: 0;
          transform: translateX(-$wing-width);
          .upper {
            & > * {
              transform-origin: right;
            }

            .front,
            .back,
            .top,
            .bottom {
              .face {
                .innerLayer1 {
                  right: 0;
                  border-bottom: ($wing-root-width / 2) * 1px solid transparent;
                  border-top: ($wing-root-width / 2) * 1px solid transparent;
                  border-right: $wing-projected-width * 1px solid $color-2;
                }
                .innerLayer2 {
                  right: 0;
                  border-bottom: (
                      ($wing-root-width - ($line-thickness * 0.7)) / 2
                    ) * 1px solid transparent;
                  border-top: (($wing-root-width - ($line-thickness * 0.7)) / 2) *
                    1px solid transparent;
                  border-right: $wing-projected-width * 1px solid $color-3;
                }
              }
            }

            .front {
              transform: translateZ(
                  (-$rocket-top-dimension / 2) + ($wing-upper-height / 2)
                )
                rotateY(-$wing-upper-face-angle);
            }
            .back {
              transform: translateZ(
                  (-$rocket-top-dimension / 2) - ($wing-upper-height / 2)
                )
                rotateY($wing-upper-face-angle);
            }
            .top {
              transform-origin: top right;
              right: 0;
              transform: translateZ(
                  (-$rocket-top-dimension / 2) - ($wing-upper-height / 2)
                )
                rotateX(90deg) rotateY(-$wing-upper-face-angle);
            }
            .bottom {
              transform-origin: bottom right;
              right: 0;
              transform: translateZ(
                  (-$rocket-top-dimension / 2) - ($wing-upper-height / 2)
                )
                rotateX(-90deg) rotateY(-$wing-upper-face-angle);
            }
          }
        }

        &.rightWing {
          background-color: rgba(0, 0, 255, 0.2);
          right: 0;
          transform: translateX($wing-width);
          .upper {
            .front,
            .back,
            .top,
            .bottom {
              .face {
                .innerLayer1 {
                  left: 0;
                  border-bottom: ($wing-upper-height / 2) * 1px solid
                    transparent;
                  border-top: ($wing-upper-height / 2) * 1px solid transparent;
                  border-left: ($wing-width + $wing-projection-width) * 1px
                    solid $color-2;
                }

                .innerLayer2 {
                  left: 0;
                  border-bottom: (
                      ($wing-upper-height - ($line-thickness * 0.7)) / 2
                    ) * 1px solid transparent;
                  border-top: (
                      ($wing-upper-height - ($line-thickness * 0.7)) / 2
                    ) * 1px solid transparent;
                  border-left: ($wing-width + $wing-projection-width) * 1px
                    solid $color-3;
                }
              }
            }
          }

          .front {
            transform-origin: left;
            transform: translateZ(
                (-$rocket-top-dimension / 2) + ($wing-upper-height / 2)
              )
              rotateY($wing-upper-face-angle);
          }
          .back {
            transform-origin: left;
            transform: translateZ(
                (-$rocket-top-dimension / 2) - ($wing-upper-height / 2)
              )
              rotateY(-$wing-upper-face-angle);
          }
          .top {
            transform-origin: top left;
            left: 0;
            transform: translateZ(
                (-$rocket-top-dimension / 2) - ($wing-upper-height / 2)
              )
              rotateX(90deg) rotateY($wing-upper-face-angle);
          }
          .bottom {
            transform-origin: bottom left;
            left: 0;
            transform: translateZ(
                (-$rocket-top-dimension / 2) - ($wing-upper-height / 2)
              )
              rotateX(-90deg) rotateY($wing-upper-face-angle);
          }
        }
      }

      // .leftWing {
      //   $wing-upper-height: 0.6 * $wing-height;
      //   $wing-upper-shorter-vertical-side: 0.7 * $wing-upper-height;
      //   $wing-projection-angle: math.atan(
      //     $wing-width /
      //       (($wing-upper-height - $wing-upper-shorter-vertical-side) * 0.5)
      //   );
      //   $wing-projection-width: (
      //       ($wing-upper-shorter-vertical-side / 2) *
      //         math.tan($wing-projection-angle)
      //     ) * 0.5;
      //   $wing-body-offset: $wing-top-offset *
      //     math.tan(90 - $inverted-triangle-angle);
      //   $rotation: -1 * (90 - $inverted-triangle-angle);
      //   $additional-roation: $rotation * 2.5;

      //   transform: translateX(-$wing-width + $wing-body-offset)
      //     rotate($rotation + $additional-roation) translateZ(-$wing-body-offset)
      //     rotateX($rotation);
      //   transform-origin: top right;
      //   width: $wing-width * 1px;
      //   height: $wing-height * 1px;
      //   top: $wing-top-offset * 1px;
      //   background-color: rgba(111, 255, 0, 0.274);

      //   & > * {
      //     position: absolute;
      //   }

      //   & > .upper {
      //     width: 100%;
      //     height: 60%;

      //     & > .left,
      //     & > .right,
      //     & > .front,
      //     & > .back {
      //       top: 0;
      //       left: 0;
      //       bottom: 0;
      //       right: 0;
      //       width: 100%;
      //       height: 100%;
      //       position: absolute;

      //       .face {
      //         position: absolute;
      //         display: flex;
      //         align-items: center;
      //         justify-content: center;
      //         bottom: 0;
      //         top: 0;
      //         left: 0;
      //         right: 0;
      //         overflow: hidden;

      //         .innerLayer1 {
      //           position: absolute;
      //           right: 0;
      //           border-bottom: ($wing-upper-height / 2) * 1px solid transparent;
      //           border-top: ($wing-upper-height / 2) * 1px solid transparent;
      //           border-right: ($wing-width + $wing-projection-width) *
      //             1px solid white;
      //         }
      //       }
      //     }

      //     .front {
      //       transform: translateZ(0);
      //       .face {
      //         background-color: purple;
      //         transform-origin: right;
      //       }
      //     }
      //   }
      // }
    }
  }
}
