@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "GeneralSans-Variable";
  src: url("/assets/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("/assets/fonts/GeneralSans-Variable.woff") format("woff"),
    url("/assets/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "Geist";
  src: url("/assets/fonts/Geist-VariableFont_wght.ttf") format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

body {
  font-family: Geist, sans-serif;
  text-align: center;
}

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl font-bold;
  }

  h2 {
    @apply text-2xl sm:text-3xl lg:text-5xl font-semibold;
  }
}
