.rocketWrapper {
  perspective: 5000px;
}

.rocket {
  $rocket-width: 180;
  $rocket-height: 316;
  $line-thickness: 2;

  $aspect-ratio: ($rocket-width, $rocket-height);

  width: $rocket-width * 1px;
  height: $rocket-height * 1px;
  background-color: pink;
  perspective: 1000px;
  display: flex;
  justify-content: center;

  & .rocketBody {
    $rocket-body-height: 0.75 * $rocket-height;
    $rocket-inner-body-width: 0.64 * $rocket-width;
    $rocket-top-dimension: 0.35 * $rocket-body-height;
    $rocket-main-body-height: $rocket-body-height - $rocket-top-dimension;
    $rocket-base-width: $rocket-top-dimension * 0.55;

    background-color: chocolate;

    transform-style: preserve-3d;
    width: $rocket-inner-body-width * 1px;
    height: $rocket-body-height * 1px;
    position: relative;
    transform: rotateY(160deg);
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & * {
      transform-style: preserve-3d;
    }

    & .rocketTop {
      $dimension: $rocket-top-dimension;
      $casted-dimension: $dimension * 1px;

      $rocket-top-depth: $dimension;
      $rocket-top-height: $dimension;
      $rocket-top-width: $dimension;

      $half-depth: math.div($dimension, 2) * 1px;

      height: $casted-dimension;
      width: $casted-dimension;
      position: relative;

      & > * {
        position: absolute;
        width: $casted-dimension;
        height: $casted-dimension;
      }

      .left,
      .right {
        .triangleFace {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX(-$rotation-x);
        }
      }

      .front {
        .triangleFace {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX($rotation-x);
        }
      }

      .back {
        .triangleFace {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX(-$rotation-x);
        }
      }

      .left,
      .right,
      .front,
      .back {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .triangleFace {
          position: absolute;
          transform-origin: bottom;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;

          & > * {
            position: absolute;
          }

          .innerLayer1 {
            border-left: ($dimension / 2) * 1px solid transparent;
            border-right: ($dimension / 2) * 1px solid transparent;
            border-bottom: $dimension solid white;
          }

          .innerLayer2 {
            border-left: (($dimension - $line-thickness) / 2) * 1px solid
              transparent;
            border-right: (($dimension - $line-thickness) / 2) * 1px solid
              transparent;
            border-bottom: ($dimension - $line-thickness) solid #303030;
          }

          .strip {
            $stripHeight: 0.2 * $dimension;

            display: flex;
            align-items: center;
            justify-content: center;
            height: $stripHeight * 1px;
            width: 100%;
            bottom: 0;

            .innerLayer1 {
              position: absolute;
              height: 100%;
              width: 100%;
              border-left: ($stripHeight / 2) * 1px solid transparent;
              border-right: ($stripHeight / 2) * 1px solid transparent;
              border-bottom: $stripHeight solid white;
            }

            .innerLayer2 {
              position: absolute;
              height: 100%;
              width: calc(100% - ($line-thickness * 1px));
              bottom: $line-thickness / 2 * 1px;
              border-left: (($stripHeight - $line-thickness)/ 2) * 1px solid
                transparent;
              border-right: (($stripHeight - $line-thickness) / 2) * 1px solid
                transparent;
              border-bottom: ($stripHeight - $line-thickness) solid #191919;
            }
          }
        }
      }

      .front {
        transform: translateZ(0);
      }

      .back {
        transform: translateZ(-$dimension);
      }

      .right {
        transform-origin: right;
        transform: rotateY(-90deg) translateZ(0);
        right: 0;
      }

      .left {
        transform-origin: left;
        transform: rotateY(90deg) translateZ(0);
        left: 0;
      }
    }

    & .mainBody {
      height: $rocket-main-body-height * 1px;
      width: $rocket-top-dimension * 1px;
      $inverted-triangle-angle: math.atan(
        (2 * $rocket-main-body-height) /
          ($rocket-top-dimension - $rocket-base-width)
      );
      $inverted-triangle-height: ($rocket-base-width / 2) *
        math.tan($inverted-triangle-angle);

      $body-face-tilt: 90 - $inverted-triangle-angle;

      & > * {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .left,
      .right,
      .front,
      .back {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .triangleFace {
          position: absolute;
          transform-origin: top;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          overflow: hidden;

          & > * {
            position: absolute;
            top: 0;
          }

          .innerLayer1 {
            border-left: ($rocket-top-dimension / 2) * 1px solid transparent;
            border-right: ($rocket-top-dimension / 2) * 1px solid transparent;
            border-top: ($rocket-main-body-height + $inverted-triangle-height) *
              1px solid white;
          }

          .innerLayer2 {
            border-left: (($rocket-top-dimension - ($line-thickness * 0.7)) / 2) *
              1px solid transparent;
            border-right: (
                ($rocket-top-dimension - ($line-thickness * 0.7)) / 2
              ) * 1px solid transparent;
            border-top: ($rocket-main-body-height + $inverted-triangle-height)
              solid #1a1818;
          }
        }
      }

      .back {
        transform-origin: top;
        transform: translateZ(-$rocket-top-dimension);
        .triangleFace {
          transform-origin: top;
          transform: rotateX($body-face-tilt);
        }
      }

      .front {
        transform: translateZ(0);
        .triangleFace {
          transform-origin: top;
          transform: rotateX(-$body-face-tilt);
        }
      }

      .left {
        transform-origin: left;
        transform: translateZ(0) rotateY(90deg);

        .triangleFace {
          transform-origin: top;
          transform: rotateX($body-face-tilt);
        }
      }

      .right {
        transform-origin: right;
        transform: translateZ(0) rotateY(-90deg);

        .triangleFace {
          transform-origin: top;
          transform: rotateX($body-face-tilt);
        }
      }
    }
  }
}
