.rocketWrapper {
  perspective: 5000px;
}

.rocket {
  $rocket-width: 180;
  $rocket-height: 316;
  $line-thickness: 2;

  $aspect-ratio: ($rocket-width, $rocket-height);

  width: $rocket-width * 1px;
  height: $rocket-height * 1px;
  background-color: pink;
  perspective: 1000px;
  display: flex;
  justify-content: center;

  & .rocketBody {
    $rocket-body-height: 0.75 * $rocket-height;
    $rocket-inner-body-width: 0.64 * $rocket-width;
    $rocket-top-dimension: 0.3 * $rocket-body-height;

    background-color: chocolate;

    transform-style: preserve-3d;
    width: $rocket-inner-body-width * 1px;
    height: $rocket-body-height * 1px;
    position: relative;
    transform: rotateY(160deg);
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & * {
      transform-style: preserve-3d;
    }

    & .rocketTop {
      $dimension: $rocket-top-dimension;
      $casted-dimension: $dimension * 1px;

      $rocket-top-depth: $dimension;
      $rocket-top-height: $dimension;
      $rocket-top-width: $dimension;

      $half-depth: math.div($dimension, 2) * 1px;

      height: $casted-dimension;
      width: $casted-dimension;
      position: relative;

      & > * {
        position: absolute;
        width: $casted-dimension;
        height: $casted-dimension;
      }

      .left,
      .right {
        .triangleFace {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX(-$rotation-x);
        }
      }

      .front {
        .triangleFace {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX($rotation-x);
        }
      }

      .back {
        .triangleFace {
          $rotation-x: math.asin(
            math.div($rocket-top-depth, (2 * $rocket-top-height))
          );

          transform: rotateX(-$rotation-x);
        }
      }

      .left,
      .right,
      .front,
      .back {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .triangleFace {
          position: absolute;
          transform-origin: bottom;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;

          & > * {
            position: absolute;
          }

          .innerLayer1 {
            border-left: ($dimension / 2) * 1px solid transparent;
            border-right: ($dimension / 2) * 1px solid transparent;
            border-bottom: $dimension solid white;
          }

          .innerLayer2 {
            border-left: (($dimension - $line-thickness) / 2) * 1px solid
              transparent;
            border-right: (($dimension - $line-thickness) / 2) * 1px solid
              transparent;
            border-bottom: ($dimension - $line-thickness) solid #303030;
          }

          .strip {
            $stripHeight: 0.2 * $dimension;

            display: flex;
            align-items: center;
            justify-content: center;
            height: $stripHeight * 1px;
            width: 100%;
            bottom: 0;

            .innerLayer1 {
              position: absolute;
              height: 100%;
              width: 100%;
              border-left: ($stripHeight / 2) * 1px solid transparent;
              border-right: ($stripHeight / 2) * 1px solid transparent;
              border-bottom: $stripHeight solid white;
            }

            .innerLayer2 {
              position: absolute;
              height: 100%;
              width: calc(100% - ($line-thickness * 1px));
              bottom: $line-thickness / 2 * 1px;
              border-left: (($stripHeight - $line-thickness)/ 2) * 1px solid
                transparent;
              border-right: (($stripHeight - $line-thickness) / 2) * 1px solid
                transparent;
              border-bottom: ($stripHeight - $line-thickness) solid black;
            }
          }
        }
      }

      .front {
        transform: translateZ(0);
      }

      .back {
        transform: translateZ(-$dimension);
      }

      .right {
        transform-origin: right;
        transform: rotateY(-90deg) translateZ(0);
        right: 0;
      }

      .left {
        transform-origin: left;
        transform: rotateY(90deg) translateZ(0);
        left: 0;
      }
    }
  }
}
